<p-card
  header="Search Star Wars Films Characters"
  class="card flex justify-content-center mt-5"
>
  <div class="card-container flex flex-column justify-content-center">
    <div class="mb-5">
      <h5>Enter Film Title:</h5>
      <p-autoComplete
        [(ngModel)]="filmTitle"
        [suggestions]="titleResults"
        (completeMethod)="search($event)"
        (onSelect)="select($event)"
        [forceSelection]="true"
        field="title"
      ></p-autoComplete>
    </div>

    <p-table
      #filmCharactersTable
      [value]="filmCharacters"
      [columns]="resultsTableColumns"
      [lazy]="true"
      dataKey="name"
      (onLazyLoad)="loadCharacters($event)"
      [paginator]="true"
      [rows]="totalPageRows"
      [loading]="loading"
      [totalRecords]="totalCharacters"
    >
      <ng-template pTemplate="header" let-columns>
        <tr>
          <th *ngFor="let col of columns">
            {{ col.header }}
          </th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-character let-columns="columns">
        <tr>
          <td *ngFor="let col of columns">
            {{ character[col.field] }}
          </td>
        </tr>
      </ng-template>
    </p-table>
  </div>
  <ng-template pTemplate="footer"><b>Made by Idan Busso (2023)</b></ng-template>
</p-card>
